


.profile-container{
  max-width: 100%;
  margin: auto;
  width: 800px;
  height: 300px;
    -webkit-box-shadow: 2px 10px 47px -8px rgba(0,0,0,0.26);
  -moz-box-shadow: 2px 10px 47px -8px rgba(0,0,0,0.26);
  box-shadow: 2px 10px 47px -8px rgba(0,0,0,0.26);
}

.profile-header{

}

.profile-body{

}
